BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping: 
  AfterClass: true
  AfterNamespace: true
  # AfterFunction: true
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: 1
AlignConsecutiveAssignments: Consecutive
InsertBraces: true
PointerAlignment: Left
NamespaceIndentation: All
